header {
    display: flex;
    padding: 1rem 2rem;
    background: #eee;
}
#logo {
    cursor: pointer;
}
#logo h1 {
    margin: 0;
}
#main-menu ul {
    margin-left: 2rem;
}
#main-menu ul li {
    display: inline-block;
    background: #fff;
    border: 0;
    outline: 0;
}
#main-menu ul li.active {
    color: #fff;
    background: rgb(0, 153, 255);
}